<%- include("includes/header1.ejs") %>

<link rel="stylesheet" href="/css/cart.css">

<h1>Your Shopping Cart</h1>
<hr>

<% if (!cart || !cart.items || cart.items.length === 0) { %>
  <p> OOPS!!! Your cart is empty </p>
  <% } else { %>
    
    
    <ul>
      <% cart.items.forEach( ({product, quantity}) => { %>
      <li>
        <h2><%= product.title %></h2> 
        <form class="quantity" method="POST" action="/cart/update">
          <input type="hidden" name="productId" value="<%= product._id %>">
          Quantity: <button name="action" value="decrease">-</button>
          <%= quantity %>
          <button name="action" value="increase">+</button>
        </form>
      </li>
      <br><br>
    <% }); %>
  </ul>
<% } %>
       

  <script src="/js/index.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>