<%- include("includes/header1.ejs") %>

   <div class="body">
            <div id="container">
             <div id="sub_container">
                 <h4>Welcome to Amazon | Your savings corner</h4><br>
                 <div id="img_container">
                    <div>
                    <img src="/myassets/makeup.png" alt="image">
                     <a href="">Coupons & Benefits</a>
                    </div>
                    <div>
                    <img src="/myassets/waterwipes.png" alt="image">
                     <a href="">Best Sellers</a>
                    </div>
                    <div>
                        <img src="/myassets/mixer.png" alt="image">
                        <a href="">Today's deals</a>
                    </div>
                    <div>
                    <img src="/myassets/bottles.png" alt="image">
                     <a href="">Budget store</a>
                    </div>
                    <a href="" style= "color:blue">Shop now</a>
                 </div>
             </div>
             <div id="sub_container">
                <h4>Upto 20% off Electronics</h4><br><br>
                <div id="img_container">
                    <div>
                        <img src="/myassets/tv.png">
                          <a href="">Televisions</a>
                    </div>
                    <div>
                        <img src="/myassets/smartwatch.png">
                          <a href="">Smart watches</a>
                    </div>
                    <div>
                        <img src="/myassets/camera.png">
                          <a href="">Cameras</a>
                    </div>
                    <div>
                        <img src="/myassets/headfones.png">
                          <a href="">Audio</a>
                    </div>
                    <a href="" style=" color:blue">See more</a>
                </div>
             </div>
             <div id="sub_container">
                <h4>Upto 40% Off & code: BEAUTY</h4><br><br>
                <div id="img_container">
                    <div>
                        <img src="/myassets/9.png">
                          <a href="">Makeup</a>
                    </div>
                    <div>
                        <img src="/myassets/29.png">
                          <a href="">Skin care</a>
                    </div>
                    <div>
                        <img src="/myassets/49.png">
                          <a href="">Hair care</a>
                    </div>
                    <div>
                        <img src="/myassets/99.png">
                          <a href="">Perfumes</a>
                    </div>
                    <a href="" style=" color:blue">See more</a>
               </div>
             </div>
             <div id="signin">
                <!-- <form action="http://127.0.0.1:8080/signin"> -->
                <h4>Sign in for the best experience</h4>
                <button id="sinin">Sign in securely</button>
                <!-- </form> -->
             </div>
             <div id="sub_container">
                <h4>New Arrivals | Shoes & Bags</h4><br><br>
                <div id="img_container">
                  <div>
                     <img src="/myassets/bags.png">
                       <a href="">Tote Bags</a>
                  </div>
                  <div>
                    <img src= "/myassets/wallet.png">
                      <a href="">Wallets</a>
                 </div>
                 <div>
                    <img src= "/myassets/sneakers.png">
                      <a href="">Men's Sneakers</a>
                 </div>
                 <div>
                    <img src= "/myassets/slippers.png">
                      <a href="">Women's Slippers</a>
                 </div>
                 <a href="" style=" color:blue">Shop all</a>

                </div>
             </div>
             <div id="sub_container">
                <h4>Health & Beauty | Upto 50% off</h4><br><br>
                <div id="img_container">
                    <div>
                        <img src= "/myassets/Screenshot 2024-07-25 061859 (9).png">
                          <a href="">Beauty & Perfumes</a>
                    </div>
                    <div>
                        <img src="/myassets/grooming.png">
                          <a href="">Grooming gadgets</a>
                    </div>
                    <div>
                        <img src="/myassets/personalcare.png">
                          <a href="">Personal Care</a>
                    </div>
                    <div>
                        <img src="/myassets/health.png">
                          <a href="">Nutrition & Supplements</a>
                    </div>
                    <a href="" style=" color:blue">See more</a>
                </div>
             </div>
             <div id="sub_container">
                <h4>New Arrivals in Electronics | Upto 20% off</h4><br>
                <div id="img_container">
                    <div>
                        <img src= "/myassets/headphones.png" >
                          <a href="">Audio</a>
                    </div>
                    <div>
                        <img src= "/myassets/mobile.png">
                          <a href="">Mobile accessories</a>
                    </div>
                    <div>
                        <img src= "/myassets/xbox.png">
                          <a href="">Video games</a>
                    </div>
                    <div>
                        <img src= "/myassets/rgbpc.png">
                          <a href="">PC accessories</a>
                    </div>
                    <a href="" style=" color:blue">See more</a>
                </div>
             </div>
             <div id="sub_container">
                <h4>Upto 30% off | New arrivals for your home</h4><br>
                <div id="img_container">
                  <div>
                    <img src= "/myassets/cookware.png">
                      <a href="">Cookware</a>
                  </div>
                  <div>
                    <img src= "/myassets/Cleaning.png">
                      <a href="">Cleaning Product</a>
                  </div>
                  <div>
                    <img src= "/myassets/diffuser.png">
                      <a href="">Home Essential</a>
                  </div>
                  <div>
                    <img src= "/myassets/storage.png">
                      <a href="">Storage & Organizer</a>
                  </div>
                  <a href="" style=" color:blue">See more</a>
                </div>
             </div>
            </div>
            
        </div><br><br>
        <%- include("includes/footer.ejs") %>  
    </div>
   <script src="/js/index.js"></script> 
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>