.image img {
    height: 5rem;
    width: 9rem;
}

body {
    display: grid;
    justify-content: center;
    font-size: medium;

}

.image {
    display: flex;
    justify-content: center;
}

.text {
    height: 29rem;
    width: 20rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 14px;
    padding: 1rem;
}

label {
    font-weight: bold;
}

input {
    height: 2rem;
}

.footer a {
    text-decoration: none;
}

button {
    background-color: #f5cc0a;
    border: 1px solid white;
    border-radius: 14px;
    width: 10rem;

}
