
:root {
--desktop: 1200px;
--laptop: 992px;
--tablet: 768px;
--phone: 480px;
}

body {
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing:auto;
  font-weight: weight;
  font-style:normal;
  margin:0;
  padding: 0;
  /* backdrop-filter: blur(10px); */
  background-color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

}

.navbar-outer {
  color: white;
  background-color: black;
  height: 60px;                         
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  @media (min-width:340px) and (max-width:385px) {
    width: 200%;
  }
  @media (min-width: 389px) and (max-width:435px) {
    width:270%;
  }
  @media (min-width: 437px) and (max-width:1000px) {
    width: 160%;
  }
  @media(min-width: 1005px) and (max-width:1285px) {
    width: 115%;
  }
  @media (width:540px) {
    width:200%;
  }
}

.amz {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: x-large;
  display: flex;
}

.amz:hover {
  border: 1px solid white;
  padding: 3px 5px 0px 5px;
  cursor: pointer;
}

.ae {
  font-size: medium;
  margin-top: 9px;
}

.search-container {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: medium;
  display: flex;
}

.all i {
  padding-left: 0.2rem;
}

.search-container input{
  width : 48rem;
  height: 2.5rem;
  border: 1px solid yellow;
  @media (min-width:340px) and (max-width:385px) {
    width: 200px;
  }
  @media (min-width: 389px) and (max-width:435px) {
    width: 300px;
  }
  @media (min-width: 437px) and (max-width:1000px) {
    width: 400px;
  }
}

.search-container button {
  width: 3rem;
  height: 2.5rem;
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  opacity: 1;
}

.search-container button:hover {
  opacity: 0.8;
}

.search-icon {
  background-color: orange;
  color: black;
  height: 2.5rem;
  width: 3rem;
  border-top-right-radius: 5% ;
  border-bottom-right-radius: 5% ;
  font-size: x-large;
  border: 1px solid orange;
   
}

.search-icon i {
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  opacity: 0.75;
  
}

.search-icon i:hover {
  opacity: 1;
}

.login {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: small;
}

.login:hover {
  border: 1px solid white;
  padding: 3px 5px 0px 5px;
  cursor: pointer;
}

.accounts {
  font-size: large;
  
}

.returns {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: small;
  @media (width:1024px) {
     display: none;
  } 
}


.returns:hover {
  border: 1px solid white;
  padding: 3px 5px 0px 5px;
  cursor: pointer;
}

.orders {
  font-size: large;
}

.cart {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: large;
}

.cart:hover {
  border: 1px solid white;
  padding: 14px 5px 0px 5px;
  cursor: pointer;
}

.navbar-inner {
  color: white;
  height: 30px;
  background-color: #001b2a;
  display: flex;
  justify-content: space-around;
  padding-top: 0.3rem;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: medium;
  @media (min-width:340px) and (max-width:385px) {
    width: 200%;
  }
  @media (min-width: 389px) and (max-width:435px) {
    width:270%;
  }
  @media (min-width: 437px) and (max-width:1000px) {
    width: 160%;
  }
  @media(min-width: 1005px) and (max-width:1285px) {
    width: 115%;
  }
   @media (max-width:1285px) {
    overflow-x: auto;
    white-space: nowrap;
  }
  @media (width:540px) {
    width:200%;
  }
}
.navbar-inner::-webkit-scrollbar {
  @media screen {
    display: none;
    
  } 
}

.navbar-inner div {
  @media (max-width: 1285px) {
    flex:0 0 auto;
    text-align: center;
    min-width: 100px;
}
}

.home i {
   padding-right: 0.1rem;
   margin-right: 0.1rem;
}

.navbar-inner div:hover {
   border: 1px solid white;
   padding: 3px 5px 0px 5px;
   cursor: pointer;
   
}

#slidebar {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: medium;
  position: fixed;
  color: black;
  height: 100vh;
  width: 50vh;
  left: -830px;
  background-color: whitesmoke;
  box-shadow: 0 0 8px rgba(255,255,255,0.5);
  /* overflow-y: scroll; */
}

#slidebar a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}

#slidebar h3 {
  margin: 0;
  padding-right: 3rem;
  height: 3rem;
  background-color: #001b2a;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

#slidebar h4 {
  margin-left: 2rem;
}

#btn-close {
  position: absolute;
  left: 22.9rem;
  top: 1rem;                             /* 15px; */
  height: 2rem;
  font-size: 1.5rem;
  border: 2px solid black;
}

#sub_container{
  height: 25rem;
  width: 22rem;
  background-color: white;
  margin: 5px;
  
}

#container {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;                         /*10px;*/ 
  justify-items: center;
 @media (max-width:385px){
  grid-template-columns: repeat(2, 1fr);
  }
 @media (max-width:1180px) and (min-width:389px){
  grid-template-columns: repeat(3, 1fr);
}
 @media (max-width:935px) and (min-width:765px) {
  column-gap: 4rem;
  margin-left: 3rem;
 }
}

#container h4 {
  margin: 1.5rem 1rem 0 1rem;
  font-weight: 600;
}

#container button {
  margin: 2rem 1rem 0 1rem;
  width: 20rem;
  height: 2rem;
  background-color: #f5cc0a;
  border: none;
  border-radius: 10px;
}

#signin {
  height: 10rem !important;
  background-color: white;
}

#img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.1rem;
  height: 18rem;
}

#img_container a {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 350;
  font-size: small;
}


#img_container img {
  height: 6rem;
  width: 9rem;
  margin-left: 1rem;
  cursor: pointer;
}