body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: medium;
}

img {
    height: 15rem;
    width: 15rem;
}

h1 {
    padding-top: 1rem;
    height: 5rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    width: 20rem;
    height: 30rem;
}